.navbar {
    padding: 15px 20px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #F8F7F4;
    transition: padding 0.3s ease, box-shadow 0.3s ease;
}



.navbar.scrolled {
    padding: 10px 15px; /* Adjust padding when scrolled */
    background: linear-gradient(to bottom, #F8F7F4 95%, rgba(196, 195, 190, 0.178));
  }
  
  .navbar .logo {
    width: 150px; /* Default logo size */
    transition: width 0.3s ease; /* Smooth transition */
  }
  
  .navbar.scrolled .logo {
    width: 100px; /* Adjust logo size when scrolled */
  }

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557E;
    font-size: 22px;
}

.navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557E;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-search-icon{
position: relative;
}
.navbar-search-icon > img {
    width: 40px;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #FF4C24;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.whatsapp-btn {
    background: #FDAFCD;
    font-size: 16px;
    color: #071339;
    border: 1px solid #7E255D;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.whatsapp-btn:hover {
    background: #fffcff;
}

@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 90px;
    }
    .navbar.scrolled .logo {
        width: 70px; /* Adjust logo size when scrolled */
      }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        font-size: 15px;
        padding: 7px 20px;
    }
}
.mobile-hide {
    display: block;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 794px) {
    .navbar-menu {
      display: none;

    }
    .menu-icon {
        
        display: block;
    }
    .mobile-hide {
        display: none;
    }
    .navbar-menu-m {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        height: 70vh;
        padding: 30px;
        
        position: absolute;
        top: 130px;
        /* right: 0; */
        
        font-size: 34px;
        z-index: 3;
        background: #FFFFFF;
        text-align: left;
        transition: all 0.5s ease;

        border: 1px solid #071339;
        border-radius: 15px;
  }
  .navbar-menu-m .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557E;
}
}
 