.food-item{
    width: 280px;
    margin: auto;
    border-radius: 15px;
    background-color: #FFF5EA;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    overflow: hidden;
}
.food-item:hover{
    transform: scale(1.02);
    background-color: #f2eef2a0;
}
.food-item-img-container{
    position: relative;
}
.food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}
.food-item-img-container .add:hover{
    border: 2px solid #FF4C24;

}
.food-item-image{
   width: 100%;
   height: 300px;
   border-radius: 15px 15px 0px 0px;
}
.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}
.food-item-counter img{
    width: 30px;
}
.food-item-info{
    padding: 20px;
    
}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
}
.food-item-name-rating img{
    width: 70px;
}
.food-item-desc{
    color: #676767;
    font-size: 12px;
}
.food-item-price{
    color: #FF4C24;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
<<<<<<< HEAD
}

.monochrome {
    filter: grayscale(100%);
}

.price-and-weight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-item-weight-container {

    display: flex;
    align-items: center;
    gap: 10px;
    height: fit-content;
    padding: 4px;
    border-radius: 50px;
    /* background-color: white; */
}

.hidden {
    display: none;
}

.bg-light {
    background-color: #f8f9fa !important;
=======
>>>>>>> parent of 999019b (created weight selection feature for cakes)
}